


@media only screen and (min-width:788px) {
    .manage-order-client-row{
        background-color: white;
      
    }
    .manage-order-client-row td{
       padding: 20px;
       border: 1px solid rgb(223, 220, 220);
       font-weight: 500;
       cursor: pointer;
    
    }
    .manage-order-client-row .cancel-td button{
        border: none;
        width: 100px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        color: black;
        background-color: rgb(243, 243, 108);
    
    }
    
    .delete-order-item-td button{
        border: none;
        width: 100px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        color: white;
        background-color: red;
    }
    
    .cancel-td{
        display: flex;
        gap: 20px;
       
       
    }
    .manage-order-client-row td .ok{
        border: none;
        width: 100px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        background-color: rgb(89, 199, 89);
        color:white;
    
    }
    
    .pending p{
        background-color: rgb(245, 245, 148);
        margin: 20px;
        width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
    }
    
    .aproved p{
        background-color: rgb(188, 238, 88);
        margin: 20px;
        width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
    }
    .cancel-status p{
        background-color: rgb(224, 104, 104);
        margin: 20px;
        width: 100px;
        height: 30px;
        color: white;
        text-align: center;
        border-radius: 10px;
    }
}












@media only screen and (max-width:788px) {

    .manage-order-client-row{
        background-color: white;
      
    }
    .manage-order-client-row td{
       padding: 0px;
       border: 1px solid rgb(223, 220, 220);
       font-weight: 500;
      
    
    }
    .manage-order-client-row .cancel-td button{
        border: none;
        width: 50px;
        height: 20px;
        border-radius: 4px;
        font-size: 8px;
        font-weight: 600;
        cursor: pointer;
        color: black;
        background-color: rgb(243, 243, 108);
    
    }
    
    .delete-order-item-td button{
        border: none;
        width: 50px;
        height: 20px;
        font-size: 8px;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        color: white;
        background-color: red;
    }
    
    .cancel-td{
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
       
       
       
    }
    .manage-order-client-row td .ok{
        border: none;
        width: 50px;
        height: 20px;
        font-size: 8px;
        font-weight: 600;
        cursor: pointer;
        background-color: rgb(89, 199, 89);
        color:white;
    
    }
    
    .pending p{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 148);
        /* margin: 20px; */
        width: 50px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
    }
    
    .aproved p{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(188, 238, 88);
        /* margin: 20px; */
        width: 50px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
    }
    .cancel-status p{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(224, 104, 104);
        /* margin: 20px; */
        width: 50px;
        height: 20px;
        color: white;
        text-align: center;
        border-radius: 10px;
    }
















    .phone-number-td{
        display: none;
    }



    
}













